In [2]:
import pandas as pd

tabela = pd.read_excel('exercicio.xlsx')

display(tabela)

,Cód Imóvel,Locador,Locatário,End. Imóvel,Aluguel,Juros (%),Dia Vcto,Out,Nov,Dez
0,1,Juliana Lima,Gustavo Andrade,"Av. Paulista, 10",10200,0.03,10,2019-10-12,2019-11-10,2019-12-13
1,2,Pedro Henrique,Adriano Rocha,"Rua Augusta, 15",950,0.05,25,2019-10-20,2019-11-21,2019-12-25
2,3,Carlos Eduardo,Bruno Figueiredo,"Av. Santos Dumont, 2500",830,0.07,15,2019-10-15,2019-11-16,2019-12-15
3,4,Ana Clara,Dayane Santos,"Av. Domingos de Moraes, 750",1500,0.08,20,2019-10-20,2019-11-20,2019-12-21
4,5,José Augusto,Natália Alves,"Av. Nações Unidas, 1000",2200,0.10,30,2019-10-30,2019-11-30,2019-12-31
5,6,Guilherme Santos,Alice Pazini Rimar,"Av. Morumbi, 1200",1750,0.15,17,2019-10-18,2019-11-18,2019-12-18
6,7,Alex Medeiros,João Miguel,"Rua Germano Vítor dos Santos, 150",3500,0.07,10,2019-10-11,2019-11-11,2019-12-11
7,8,Paulo Silva,Enzo Gabriel,"Rua Nelson Ferreira, 12",2275,0.05,15,2019-10-16,2019-11-15,2019-12-15
8,9,João dos Santos,Maria Cecilia,"Rua Clodomiro Pinheiro, 18",8000,0.12,20,2019-10-20,2019-11-20,2019-12-20
9,10,Myllena Rosa,Maria Eduarda,"Praça Antônio Pereira Martins, 28",7500,0.07,25,2019-10-25,2019-11-26,2019-12-25
10,11,Whallef Rimar,Maria Alice,"Rua Comendador Assad Abdalla, 29",950,0.10,30,2019-10-30,2019-11-30,2019-12-31
11,12,Graciane Pazini,João Lucas,"Rua Ouro Verde, 450",1950,0.05,1,2019-10-02,2019-11-02,2019-12-02
12,13,Gildásio Pereira,Ana Julia,"Rua Casa da Boavista, 18",2200,0.06,10,2019-10-10,2019-11-11,2019-12-10
13,14,Marcos Paulo,Maria Clara,"Rua John Redford, 178",7550,0.07,25,2019-10-26,2019-11-26,2019-12-25
14,15,Pedro Silva,João Pedro,"Avenida Nazaré, 33",1255,0.10,30,2019-10-30,2019-11-30,2019-12-30
15,16,Luana Santos,Maria Luiza,"Avenida Adelino Jorge Montenegro, 291",3500,0.15,20,2019-10-21,2019-11-20,2019-12-20
16,17,Alisson Souza,Álvaro Gutierrez,"Avenida Carini, 1850",850,0.09,20,2019-10-22,2019-11-21,2019-12-21
17,18,Matheus Freire,Ana Paula,"Rua Sargento Benevides Valente Montes, 298",970,0.03,17,2019-10-18,2019-11-18,2019-12-18
18,19,Antônio Castro,José de Alencar,"Rua Frauenfeld, 785",2150,0.10,1,2019-10-01,2019-11-01,2019-12-01

In [3]:
tabela.describe()

       Cód Imóvel       Aluguel  Juros (%)   Dia Vcto
count   19.000000     19.000000  19.000000  19.000000
mean    10.000000   3162.105263   0.081053  17.947368
std      5.627314   2888.085350   0.034624   8.771632
min      1.000000    830.000000   0.030000   1.000000
25%      5.500000   1112.500000   0.055000  12.500000
50%     10.000000   2150.000000   0.070000  20.000000
75%     14.500000   3500.000000   0.100000  25.000000
max     19.000000  10200.000000   0.150000  30.000000